/* BODY */
html, body {scroll-behavior: smooth; width:100%; margin:0px; 
	background:url('../gallery/4.jpg');
	overflow-x: hidden; 
    overflow-y: scroll;
}
/* LEFT */
.left{
    width:30%; z-index: 999; 
    height:100%;  box-shadow: 2px 2px 4px grey;
    float:left;
    background:linear-gradient(#f7e7bd,#a35d6a); position:fixed;
}
.left video{width:80%; height:auto;max-width:80%;}
.left audio{margin:0% 12%; width:80%; max-width:80%;}
.left ul{padding:0;}

.uno a {
	display:block; color:black; text-align:center; padding:5% 5%;
	text-decoration:none; font-family:Poppins; background:#f7e7bd;
    font-size:1.3vw; margin:0% 10%; border-radius:1em;font-weight:300;
}
.uno a:hover{font-weight:300; transform: scale(1.2); text-decoration:none; color:black;}
.dos a {
	display:block; color:white;; text-align:center; padding:5% 5%;
	text-decoration:none; font-family:Poppins; background:linear-gradient(#c26565,#a35d6a);
	font-size:1.3vw; margin:0% 10%; border-radius:1em; font-weight:300;
}
.dos a:hover{font-weight:300; transform: scale(1.2); text-decoration:none; color:black;}

/* RIGHT */
/* BANNER */
.right{ width:70%;height:100%; float:right; z-index:-1;}
.banner{position:relative;}
#b{width:100%; height:auto; position:absolute; z-index:2;}
.banner h1{position:absolute; top:13%; z-index:3; left:23%; right:23%;
color:white; font-size:7.5vw; font-family:Poppins; letter-spacing:20px;}

.about h2{text-align:left; font-size:2.5vw;}
h3{color:white;}
#dp{width:35%; position:relative; height:auto; display:block; margin-left:auto;
	margin-right: auto; border-radius: 50%; z-index:3; margin-top:17%;}

/* ABOUT */
.about{position:relative; top:5em; margin:0% 5%; }
.about p{font-size:1.5vw;}


/* TABLE */
.tab{background:linear-gradient(#a35d6a,#f7e7bd); padding:1%; border-radius:1em; width:70%;}
#tb{ width:100%; font-size:1vw; font-family:Poppins;  border: 1px solid #a35d6a;
	border-collapse:collapse; letter-spacing:2px; text-align:center; border-width:3px; 
	background:url("../gallery/4.jpg");}
.tab img{width:100%; height:auto;}
#desc{padding:1em;}

/* HOBBIES */
.hobbies{margin:25% 0%; padding:1% 0%; background:black;}
.hobbies img{width:100%; height:auto;}
.hobbies h2{margin-left:3%; color:white; font-size:2.5vw; margin-bottom:1%;}
.carousel{
	background: transparent;
	 }
	.carousel-item {
	text-align: center;
	min-height: 280px;
}

/* BANNER */
.gallery{margin:20% 0%; padding:1.5em;background:linear-gradient(black,#a35d6a);}
.gallery h2{color:white;}
.gallery figure{float: left; padding:0;}
.gallery h3{color:white; font-size:18px;}

/* CONTACT */
.contact{margin:20% 0%; padding:1em;background:linear-gradient(#a35d6a,#f7e7bd)}
.contact button{background-color:black; color:white; border-radius:1em; border-color:white;width:60%; padding:1em;}
.contact button:hover{background-color:#a35d6a;border-color:white; }
.contact h2{color:white;}

/* FOOTER */
footer{background:linear-gradient(#a35d6a,#f7e7bd);}
